div(id='#{page_id}', data-role='page', data-add-back-btn='true')
  div(data-role='header')
    h1 #{title}
  div(data-role='content')
    .config_list
      h1 Summary
      ul(data-role='listview', data-inset='true')
        li 
          p
            h2.summary-head
              | My company, XXX, 
              | is developing A DEFINED OFFERING
              | to help A TARGET AUDIENCE
              | SOLVE A PROBLEM
              | WITH SECRET SAUNCE
        li Invite Friends:
          span
            form
              select( id='invite_friends', name='invite_friends', data-role='slider')
                option(value='yes') Yes 
                option(value='no') No 
        li Make Public:
          span
            form
              select( id='make_public', name='make_public', data-role='slider')
                option(value='yes') Yes 
                option(value='no') No 
        li Pay Feedback:
          span
            form
              select( id='pay_feedback', name='pay_feedback', data-role='slider')
                option(value='yes') Yes 
                option(value='no') No 
    a(href='#', data-role='button', data-icon='star') Next
  div(data-role='footer')
    h4 #{tm}
